body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.space {
  margin: 50px;
}

.header {
  position:fixed;
  z-index: 2;
  width: 100%;
  box-shadow: 1px 1px 10px 1px #999999;
}

.content {
  padding-top: 60px;
}

.footer {
  margin-top: 100px;
  height: 200px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #888888;
  color: white;
  text-align: center;
}
